@font-face {
	font-family: Roboto-Light;
	src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Aisha-Script;
	src: url(../fonts/Aisha-Script.ttf);
}

.content-center {
	margin: 0 auto;
	text-align:center;
}

.section-title{
	text-align:center;
	font-family: Aisha-Script;
	font-size: 5vw;
}

html{
	min-width: 700px;
}

body {
	padding: 0px;
	margin: 0px;
	
	font-family: Roboto-Light;
}

/* ---------------- Navigation Bar ---------------- */
ul{
	position:fixed;
	width: 100%;
	list-style-type:none;
	padding: 10px 0px 10px 10px;
	margin: 0px;
	
	/* Navigation bar background */
	background: #3b5999;
    background: -webkit-linear-gradient(#3b5999, #3b4999); /* For Safari */
    background: -o-linear-gradient(#3b5999, #3b4999); /* For Opera */
    background: -moz-linear-gradient(#3b5999, #3b4999); /* For Firefox */
    background: linear-gradient(#3b5999, #3b4999);
}

.navlink{
	text-align: center;
	display: inline-block;
	width: 70px;
	padding:0px;
	margin: 0px;
}

.navlinklarge{
	text-align: center;
	display: inline-block;
	width: 100px;
	padding:0px;
	margin: 0px;
}

li a {
	display: inline-block;
    color: white;
    padding: 0px;
	margin:0;
    text-decoration: none;
	text-align: center;
}

li a:hover:not(.active) {
	font-family: Roboto-Regular;
    color: white;
}

/* ---------------- Initial Display --------------- */
#frontpage{
	height: 100vh;
	min-width: 600px;
}

#frontpage-content{
	text-align: center;
}

#cover-image{
    background:url("../images/Toronto_Skyline.jpg")no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	min-width: 700px;
	position: fixed;
	z-index: -100;
}

#displaypicture{
	padding-top: 110px;
	padding-bottom: 25px;

	width: 20%;
	height: 20%;
	min-width: 200px;
	min-height: 200px;
}

#title-name{
	padding-bottom: 2%;
}

#front-text-container{
	padding: 0.5% 0% 0.5% 0%;
	margin: 0.5% auto 0.5% auto;
	background-color: rgba(255,255,255,0.8);
	
	border-radius:10px;
	width: 50%;
	min-width: 500px;
}

/* ------------------- About Me ------------------- */

#about-me{
	font-size: 25px;
	padding: 40px;
	height: 100%;
	
	background-color: #869DCD;
}

#about-me-content{
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 75%;
	min-width: 500px;
	
	background-color: rgba(255,255,255,0.9);
	border-radius:10px;
}

#about-me-photo{
	border-radius: 5px;
	margin: 0px 20px 10px 0px;
	width: 20%;
	min-width: 150px;
}