@font-face {
	font-family: Roboto-Light;
	src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Aisha-Script;
	src: url(../fonts/Aisha-Script.ttf);
}

.content-center {
	margin: 0 auto;
	text-align:center;
}

.section-title{
	text-align:center;
	font-family: Aisha-Script;
	font-size: 5vw;
}

html{
	min-width: 700px;
}

body {
	padding: 0px;
	margin: 0px;
	
	font-family: Roboto-Light;
}

/* ---------------- Navigation Bar ---------------- */
ul{
	display: table;
	position:fixed;
	width: 100%;
	list-style-type:none;
	margin: 0px;
	padding:10px 0px;
	vertical-align:middle;
	
	/* Navigation bar background */
	background: #3b5999;
    background: -webkit-linear-gradient(#3b5999, #3b4999); /* For Safari */
    background: -o-linear-gradient(#3b5999, #3b4999); /* For Opera */
    background: -moz-linear-gradient(#3b5999, #3b4999); /* For Firefox */
    background: linear-gradient(#3b5999, #3b4999);
}

.navlink{
	text-align: center;
	display: inline-block;
	width: 70px;
	padding:auto 0px auto 0px;
	margin: 0px;
	height:100%;
}

.navlinklarge{
	text-align: center;
	display: inline-block;
	width: 100px;
	padding:auto 0px auto 0px;
	margin: 0px;
	height:100%;
}

li a {
	display: inline-block;
    color: white;
    padding: 0px;
	margin:0;
    text-decoration: none;
	text-align: center;
	height:100%;
}

li a:hover:not(.active) {
	font-family: Roboto-Regular;
	color: white;
}

#nav li ul {
	position: absolute;
	display: none;
	width: inherit;
}

#nav li:hover ul {
	display: block;
}

#nav li ul li {
	display: block;
}